footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer img {
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 10px;
    color: #958888;
}